#navbar{
	border-radius: 0px;
	background-color: white;
	height: 100px;
	border:none;
	box-shadow: 3px 3px 3px #dddddd!important;
	border-bottom:#dddddd;
}
#navbar ul li a{
	padding-top: 40px;
	color:black;
	text-decoration-style: bold;
}
#foot{
	background-color:orange;
	padding: 	60px;
	text-decoration-color: #dddddd;

}
#footer1{
	float: left;
	height: 300px;
	width: 300px;
	padding-left: 30px;
	padding-top:  10px;

}
#footer2 h2{
	padding-left: 	20px;
}

#footer2 li{
	padding: 	10px;
	padding-left: 	25px;
	list-style: 	none;
}
#footer2 li a{
	line-height:20px;
	padding: 	30px;
	padding-left: 30px;
	color:white;	
}

#footer2{
	float: left;
	height: 300px;
	width: 300px;


}
#footer2 h2{
	padding-left:50px;
}
#footer3{
	float: left;
	height: 300px;
	width: 300px;
	padding-left: 	20px;

}
#footer3 h4{
	padding:30px;
	padding-left:10px;
}

#footer4 p{
	padding: 	20px;
	padding-left: 	6px;
}

#footer4{
	float: right;
	height: 300px;


}


#footer4{
	
	float: right;
	
}

#footer4 button{
	float: 20px;
}
#footer_container{
	color:white;
}


/*#about{
	background-image: url();
}

#about h2 p{
	color: white;
}
*/

#hello{
	/*background-image: url(img/1.jpg);*/
	height:300px;
	width:40%;
	float: left;
	padding:10px;
    line-height: 25px;
    text-align:justify!important;

}
#about1{
	margin-left: 25px;
	float:right!important;
	width: 50%;
	height: 300px;
	padding:10px;
    line-height: 25px;
    text-align:justify!important;
}
/*#about button :hover{
	color:brown;

}*/


